@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    font-family:'Libre Baskerville';
    margin: 1%;
    padding: 2% auto;
    box-sizing: border-box;
    background-color: #efece9;
}

h1{
    margin: 2%;
    padding-top: 2.5%;
    color: #082967;
    text-align: center;
}

 #titulo_materia h2{
    text-align: center;
 }

h1 p{
    color: #0f5875;
}

#titulo_materia h2{
    text-align: center;
}

p{
    font-family: 'Montserrat Alternates';
}

.inf{
    text-align: center;
    color: #0f5875;
}

#header p{
    text-align: justify;
}

.guia{
    padding: 2% 10%;
    margin: 0 auto;
}

a {
    color: #292929;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#08007e;
}

footer {
    background-color: #633db5;
    padding: 1%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    color: aliceblue;

}