@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family:'Libre Baskerville';
    margin: 1%;
    padding: 2% auto;
    box-sizing: border-box;
    background-color: #fafaf0;
}

h1{
    margin: 2%;
    padding-top: 2.5%;
    color: #082967;
    text-align: center;
}

.inf{
    text-align: center;
    color: #0f5875;
}

#header p{
    text-align: justify;
}

h1 p{
    color: #0f5875;
}

a {
    color: #292929;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#08007e;
}

footer {
    background-color: #ffacc1;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}