h1{
    margin: 0 auto;
    padding: 10% auto;
    color: #0e022e;
    text-align: center;
}

h1 p{
    color: #0f5875;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color:#666;
}

#materia{
    border: 3px solid #0d0086;
    padding: 1% 2% ;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(20, 22, 167, 0.3);
    background-color: #ebebeb;
}

#materia h2{
    text-align: center;
    font-size: 28px;
}

#contenido_materia {
    list-style-type: circle;
    padding-left: 2px; 
    font-family: 'Plus Jakarta Sans';
}

ul.lista_ej {
    list-style-type: circle;
    padding-left: 2px; 
}



#foda {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#foda h2 {
    text-align: center;
    color: #ff5722;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%; 
}

#foda div {
    flex: 1 1 22%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(0, 0, 0); 
}

#foda p{
    color:#0e022e;
    text-align: justify;
    padding: 1px auto;
    font-family: 'Plus Jakarta Sans';
}

#foda .fortalezas {
    background-color: #32c5ff; 
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#foda .oportunidades {
    background-color: #2efa83; 
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#foda .debilidades {
    background-color: #ff77d6;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#foda .amenazas {
    background-color: #ffd900; 
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#guias {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
}

#guias h2 {
    width: 100%;
    text-align: center;
    margin: 2%;
    margin-top: 5%; 
    font-size: 32px; 
}
.guia {
    box-sizing: border-box; 
    padding: 15px; 
    margin-bottom: 20px; 
}

